services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: megatron
      POSTGRES_PASSWORD: Megatron
      POSTGRES_DB: TODO
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U megatron -d TODO" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./Backend
    environment:
      DB_URL: postgresql://megatron:Megatron@db:5432/TODO
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
